@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Righteous', cursive; */
* { margin:0; padding:0; box-sizing: border-box;}
a { color:inherit; text-decoration: none; }
ul { list-style: none;}
img { max-width: 100%; vertical-align: middle; border:none;}
.cf::after { content:''; display: block; clear:both;}
table { width:100%; border-collapse: collapse; table-layout:fixed;}

html, body {  font-size: 16px; color:#000; overflow-x:hidden;}
.row { max-width:960px; margin:0 auto;}
.address { font-style: normal;}

/* 
    position:fixed 와 position:absolute를 적용하고, width설정을 안하면 ,
    기본 넓이는 자식요소에 맞춰짐
*/

h1 { position: fixed; top:50px; left:50px; z-index: 9;}
h1 img { width:200px;}

.open { position:fixed; right:50px; top:30px; width:50px; height:50px; border-radius: 50%;
background: #000; cursor:pointer; z-index: 999; display: none}

.open .bar { display: block; height:4px; background-color: #fff; border-radius: 2px; position:absolute;
    transition:all 0.5s;
}
.open .bar1 { width:15px; top:12px; left:10px}
.open .bar2 { width:30px; top:50%; left:10px; margin-top:-2px;}
.open .bar3 { width:20px; bottom:12px; right:20px; }

.open.on .bar1 { transform: translateX(4px) rotate(45deg);
    transform-origin:0% 50%;
}
.open.on .bar2 { transform: rotate(-45deg);
    transform-origin:50% 50%;
}
.open.on .bar3 { transform: translateX(6px) rotate(45deg);
    transform-origin:100% 50%; width:15px;
}

.openlist { 
    position:fixed; top:0; left:100%; right:0; bottom:0;
    width:100%;
    background: brown;
    z-index: 99;
    transition:all 0.5s;
}
.openlist .depth1 { 
    position:absolute; top:50%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff; font-size:40px;
    line-height:2em; 
}

.open.on + .openlist { 
    left:0;
}

#nav { position:fixed; left:50px; top:50%; transform: translateY(-50%); z-index: 9;}
#nav li a { display: block; width:20px; height:20px; border-radius: 50%; background:red; 
    margin:10px 0; position: relative;}
#nav li.on a { background-color: blue;}
#nav li a span { position:absolute; left:25px; width:100px; top:50%; transform: translateY(-50%); 
display: none;}
#nav li.on a span { display: inline-block; }

#sns { position: fixed; top:40px; right:150px; z-index: 9;}
#sns a { display: inline-block; font-size:25px; color:rgba(0,0,0,0.5); margin-left:15px; transition: all 0.5s;}
#sns a:hover { transform: scale(1.5); color:rgba(0,0,0,0.1)}
#sns a:nth-child(4) i { display: inline-block; transform: rotate(135deg);}

#wrap .section { width:100vw; height:100vh; background-position:right center; background-size:cover;
    position: relative; overflow: hidden;}
#wrap #sect1 { background-image: url(../img/bg1.jpg);}
#wrap #sect2 { background-image: url(../img/bg2.jpg);}
#wrap #sect3 { background-image: url(../img/bg3.jpg);}
#wrap #sect4 { background-image: url(../img/bg4.jpg);}
#wrap .article { position:absolute; top:46%; left:300px; z-index: 10;}
#wrap .article p { font-family: 'Righteous', cursive; font-size:50px; letter-spacing: 2px;}
#wrap .article span { font-size:16px; width:500px; display: block; color:#fff; line-height:1.2;}
#wrap .section:nth-child(1) .article span,
#wrap .section:nth-child(4) .article span { color:#111;}
#wrap #sect1 p { color:#d4164c}
#wrap #sect2 p { color:#fff}
#wrap #sect3 p { color:#ffec6a}
#wrap #sect4 p { color:#005a89}

#sect1 .p11 { position:absolute; bottom:20px; right:20px;}
#sect1 .p12 { position:absolute; bottom:-40px; right:130px;}
#sect1 .p13 { position:absolute; bottom:180px; right:60px;}

#sect2 .p21 { position:absolute; bottom: -480px; right:-180px;}
#sect2 .p22 { position:absolute; bottom: -40px; right:130px;}

#sect3 .p31 { position: absolute; bottom:30px; right:180px;}
#sect3 .p32 { position: absolute; bottom:-270px; right:110px;}
#sect3 .p33 { position: absolute; bottom:-130px; right:-70px;}

#sect4 .p41 { position: absolute; bottom:-120px; right:20px;}
#sect4 .p42 { position: absolute; bottom:-180px; right:0px;}

